/* reset */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
h2,
h3 {
  text-decoration: none;
  color: inherit;
}
a:visited,
h2:visited,
h3:visited {
  color: inherit;
}
a:active, a:focus,
h2:active,
h2:focus,
h3:active,
h3:focus {
  color: inherit;
  outline: none;
}

ol,
li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

img {
  border: none;
  -o-object-fit: contain;
     object-fit: contain;
}

input,
textarea {
  outline: none;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  margin: 0;
}

html,
body {
  line-height: 1;
}

/*----------------*/
body {
  font-family: "Montserrat";
  margin: 0;
  position: relative;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  padding-top: 20px;
  padding-bottom: 15px;
}

.header_moved {
  background-color: rgba(28, 28, 28, 0.7882352941);
}

.screen__item {
  height: 100vh;
  max-width: 1910px;
  margin: 0 auto;
  overflow: hidden;
}
.screen__item:nth-child(odd) {
  background-color: #131313;
  color: #fff;
}

.menu-burger {
  height: 22px;
  width: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.menu-burger span {
  height: 3px;
  background-color: #e7e7e7;
  border-radius: 10px;
}
.menu-burger span:nth-child(2) {
  width: 30px;
}
.menu-burger span:nth-child(3) {
  width: 10px;
}

.header-wrap {
  max-width: 1720px;
  padding: 0 40px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-menu__nav {
  display: none;
}

.regular-menu {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.regular-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  font-weight: 400;
  font-size: 14px;
}

.screen__item.top-block {
  background: linear-gradient(11deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.9444152661) 45.5%, rgba(0, 0, 0, 0.717525) 73.4%, rgba(0, 0, 0, 0.565424) 83.8%, rgba(255, 255, 255, 0.2) 98.6%);
}

.top-banner {
  position: relative;
  height: 100%;
}
.top-banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(63.93% 100.48% at 10.6% 115.11%, rgba(84, 217, 0, 0.4) 0%, rgba(217, 217, 217, 0) 100%);
}

.top-banner__text {
  color: #54d900;
  position: absolute;
  top: 243px;
  left: 392px;
  z-index: 3;
}

.top-banner__hello {
  font-weight: 600;
  font-size: 64px;
  line-height: 67px;
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-banner__desc1_2 {
  margin-left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-banner__desc1 {
  font-weight: 500;
  font-size: 46px;
  line-height: 55px;
}

.top-banner__desc2 {
  font-weight: 400;
  font-size: 27px;
  line-height: 33px;
}

.top-banner__desc3 {
  margin-top: 15px;
  font-size: 18px;
}

.top-banner__img,
.top-banner__img-bg {
  position: absolute;
  z-index: -1;
}

.top-banner__img {
  bottom: 0;
  right: 5vw;
  z-index: 2;
}
.top-banner__img img {
  height: 826px;
}

.top-banner__img-bg {
  opacity: 0.68;
  bottom: 0;
}
.top-banner__img-bg img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.top-banner__line {
  width: 3px;
  background-color: #fff;
  height: 86px;
  border-radius: 10px;
  position: absolute;
  bottom: 160px;
  left: calc(50% - 2px);
}

.screen__item h2 {
  font-weight: 800;
  font-size: 50px;
  line-height: 55px;
  height: 170px;
  padding-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1800px;
}

.screen__item:nth-child(even) h2 {
  background: #131313;
  color: #54d900;
}

.screen__item:nth-child(odd) h2 {
  background: #ffffff;
  color: #131313;
}

.h2-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  margin-top: 77px;
}

.container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.slider-portfolio {
  max-width: 1680px;
}

.slider-portfolio__item {
  overflow: hidden;
  -webkit-box-shadow: 0 0 30px #fff;
          box-shadow: 0 0 30px #fff;
}

.slider-portfolio::after, .slider-portfolio::before {
  content: "";
  position: absolute;
  display: block;
  height: 700px;
  width: 67px;
  bottom: 0;
  top: 0;
  background-color: #fff;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  z-index: 2;
}
.slider-portfolio::after {
  left: -29px;
}
.slider-portfolio::before {
  right: -29px;
}

.slider-portfolio__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 700px;
  position: relative;
}

.portfolio__item-bg,
.portfolio__item-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio__item-bg img,
.portfolio__item-front img {
  height: 100%;
}

.portfolio__item-bg-wrapper {
  width: 560px;
  height: 390px;
  overflow: hidden;
  border-radius: 15px;
  border: 3px solid #fff;
}

.portfolio__item-front {
  position: absolute;
  top: calc(50% - 136px);
  height: 260px;
}
.portfolio__item-front img {
  border: 1px solid rgba(255, 255, 255, 0.5490196078);
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 7px #fff;
          box-shadow: 0 0 7px #fff;
}

.portfolio__item-front picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__item-bg {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  overflow: hidden;
}
.portfolio__item-bg img {
  height: 150%;
}

.swiper-slide-active {
  -webkit-transform: scale(1.2) !important;
          transform: scale(1.2) !important;
}
.swiper-slide-active .slider-portfolio__item-wrapper .portfolio__item-bg-wrapper {
  border: 3px solid #54d900;
}

.swiper-button-next,
.swiper-button-prev {
  color: #54d900;
}

.swiper-button-prev {
  left: 0px;
}

.swiper-button-next {
  right: 0px;
}

.portfolio__item-btn {
  display: block;
  cursor: pointer;
  color: #54d900;
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  text-align: center;
  width: 200px;
  left: calc(50% - 100px);
  border-radius: 10px;
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.portfolio__item-btn:hover {
  font-weight: 800;
  background-color: #e7e7e7;
  color: #131313;
  -webkit-box-shadow: 0 20px 30px rgba(83, 217, 0, 0.7529411765);
          box-shadow: 0 20px 30px rgba(83, 217, 0, 0.7529411765);
}

.timer-form {
  height: 600px;
  max-width: 1680px;
  margin: 0 auto;
  background: rgba(55, 55, 55, 0.62);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 135px;
  padding: 50px 100px;
}

.timer {
  width: 835px;
}

.timer-top {
  font-weight: 800;
  font-size: 39px;
  line-height: 55px;
  margin-bottom: 32px;
}

.timer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

.timer-body-sector__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.timer-body__count {
  background: #686868;
  border-radius: 10px;
  padding: 15px;
  font-weight: 800;
  font-size: 80px;
}

.timer-body__word {
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}

.timer-middle {
  font-weight: 500;
  font-size: 33px;
  line-height: 40px;
  color: #54d900;
  margin: 38px 0 50px;
}

.timer-bottom {
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
}

.feedback-form__item {
  margin-bottom: 30px;
}
.feedback-form__item input,
.feedback-form__item textarea {
  padding: 9px 20px;
  width: 374px;
  background: #373737;
  border-radius: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #e7e7e7;
}
.feedback-form__item textarea {
  height: 100px;
  resize: none;
}
.feedback-form__item input::-webkit-input-placeholder, .feedback-form__item textarea::-webkit-input-placeholder {
  font-family: "Montserrat";
}
.feedback-form__item input::-moz-placeholder, .feedback-form__item textarea::-moz-placeholder {
  font-family: "Montserrat";
}
.feedback-form__item input:-ms-input-placeholder, .feedback-form__item textarea:-ms-input-placeholder {
  font-family: "Montserrat";
}
.feedback-form__item input::-ms-input-placeholder, .feedback-form__item textarea::-ms-input-placeholder {
  font-family: "Montserrat";
}
.feedback-form__item input,
.feedback-form__item textarea,
.feedback-form__item input::placeholder,
.feedback-form__item textarea::placeholder {
  font-family: "Montserrat";
}
.feedback-form__item input[type=submit] {
  cursor: pointer;
  background: #54d900;
  color: #131313;
  border-radius: 5px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.advantages {
  padding: 74px 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.advantages__item {
  background: #292929;
  border-radius: 30px;
  height: 428px;
  width: 100%;
  padding: 51px 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}

.advantages__item-first {
  font-weight: 700;
  font-size: 33px;
  line-height: 55px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  text-align: center;
}

.advantages__item-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 17px;
  line-height: 21px;
  background: #373737;
  -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.advantages__item:hover .advantages__item-second {
  height: 100%;
  padding: 14px 18px;
}

.advantages__item:hover {
  -webkit-box-shadow: 0 0 30px #54d900;
          box-shadow: 0 0 30px #54d900;
}

.reviews-slider__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-slider__item-link {
  background: #5c5c5c;
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.65);
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  color: #e7e7e7;
  padding: 10px 17px;
  position: relative;
  left: calc(50% - 94px);
  bottom: 70px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.reviews-slider__item-link:hover {
  color: #131313;
  background-color: #e7e7e7;
  -webkit-box-shadow: 0px 20px 30px rgba(83, 217, 0, 0.7529411765);
          box-shadow: 0px 20px 30px rgba(83, 217, 0, 0.7529411765);
}

.reviews-control__prev,
.reviews-control__next {
  background-image: url(../images/prev-next.svg);
  height: 120px;
  width: 80px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50% - 60px);
  z-index: 99;
  cursor: pointer;
}

.reviews-control__prev {
  left: 0;
}

.reviews-control__next {
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.technology {
  margin-top: calc(50vh - 310px);
}

.technology-slider__item {
  height: 550px !important;
  position: relative;
  margin: 0 15px;
}

.technology-slider__item-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 360px;
}

.technology-slider__item-front,
.technology-slider__item-back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
}

.technology-slider__item-front {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e7e7e7;
  border-radius: 30px;
}
.technology-slider__item-front img {
  height: 80%;
  margin: auto;
}

.technology-slider__item-back {
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
  background-color: #343434;
  padding: 30px;
  border-radius: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.technology-slider__item:hover .technology-slider__item-front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
}

.technology-slider__item:hover .technology-slider__item-back {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.feedback-form__item-first {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
}

.contacts-feedback {
  background: #d5d5d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts {
  padding: 30px 70px;
}

.contacts__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 25px;
}

.contacts-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 100px;
  width: 480px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.feedback-form-4 {
  background: #131313;
  color: #ffffff;
  padding: 30px 80px;
}

.footer-block {
  background: #131313;
  color: #ffffff;
  height: 308px;
  text-align: center;
}

.footer-block .regular-menu {
  padding-top: 75px;
  margin-bottom: 55px;
}

.contacts-block .container {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  left: -9px;
}

.copyright {
  font-size: 14px;
}

#feedback-form-4 {
  max-width: 375px;
}

span.feedback-form__item-second {
  text-align: center;
  display: block;
  font-size: 14px;
  margin-top: -15px;
}